html, body {
	width: 100%;
	margin: 0px;
	font-family: 'Helvetica Neue', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
header {
	width: 100vw;
	height: 100vh;
}
#pic {
	width: 100vw;
	height: 100vh;
	background: url('../assets/Z.jpg');
	background-size: cover;
	background-position: center center;
	display: none;
}
#body {
	width: 100%;
	background: #242626;
	color: #E5EAEA;
}
#body_header {
	padding: 40px 0px 15px 0px;
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}
nav {
	width: 762px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px 40px 0px;
}
.nav_item {
	padding: 5px 20px;
	display: inline-block;
	border-radius: 15px;
	transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}
.nav_item:hover {
	background: #2e2e2e;
	color: #fff;

}
#content {
	background: #e6ebeb;
	color: #242626;
	padding-bottom: 20px;
}
#selected {
	background: #2e2e2e;
}
#sounds {
	width: 800px;
	margin: 0px auto;
}
.sound {
	padding: 20px 0px;
}
/*****WRITING*****/

.post {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0px;
}
.post_title {
	padding: 20px 0px;
	text-align: center;
	font-size: 30px;
}

/*****PHOTOS*****/

.post_body {
	font-family: 'Georgia', serif;
	line-height: 1.6em;
}
#photo_wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.photo {
	padding: 10px 0px;
}

/*****MORE*****/

.social {
	text-align: center;
	padding: 10px 0px;
}
.social:hover {
	text-decoration: underline;
}
